<!-- Sidebar -->
<ul th:fragment="menu-lateral" class="navbar-nav issste-v sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
            
        </div>

        <div class="sidebar-brand-text mx-3">Sistema <sup>G y S</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Menu lateral -->
    <div class="sidebar-heading mt-5">
        Interface
    </div>

    <!-- Nav Item - Primer opción -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Opciones</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-dark py-2 collapse-inner rounded px-auto">
                <!-- <h6 class="collapse-header text-white">Custom Components:</h6> -->
                <div th:each="usuario : ${permisos}">
                    <a class="collapse-item text-white black text-wrap pt-3 pb-2" href="#"><span th:text="${usuario.nombreOpcion}"></span></a>
                </div>
               
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider mt-5">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle">
        </button>
    </div>

</ul>