<nav th:fragment="navbar" class="navbar navbar-expand issste-v text-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" data-toggle="collapse"
        data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>


    <ul class="mt-4">
        <h4>Nómina</h4>
    </ul>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto my-2 my-lg-0">

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-white small">Bienvenido(a) </span>
                <span sec:authentication="name" class="mr-2 d-none d-lg-inline text-white small"></span>
                <img class="img-profile rounded-circle" th:src="@{/img/undraw_profile_2.svg}">
            </a>

            <div class="dropdown-menu shadow text-center animated--grow-in ml-auto" aria-labelledby="userDropdown">

                <!-- <i sec:authorize="hasAnyAuthority('ROOT')" class="fas fa-user icon"></i> -->
                <!-- <div class="desplegar"> -->
                <div class="perfil  text-center" sec:authorize="hasAnyAuthority('ROOT')">
                    <a class="btn btn-default dropdown btn-sub dropdown-item" type="button"
                        data-toggle="dropdown">Administración
                        <i class="fas fa-caret-down"></i></span></a>
                    <!-- <div class="opc-per"> -->
                    
                    <ul class="dropdown-submenu sub animated--grow-in shadow mt-3">
                        <li class="dropdown-submenu text-center mt-2 mb-2">
                            <a class="test text-wrap px-2 pt-1 pb-1" tabindex="-1" th:href="@{/perfil/crear}"><i
                                    class="far fa-plus-square"></i> Perfiles<span class="caret"></span></a><br>
                        </li>
                        <br>
                        <li class="dropdown-submenu mb-2 text-center">
                            <a class="test text-wrap px-1 pt-1 pb-1" tabindex="-1" th:href="@{/perfil/opcion}"><i class="fas fa-bars"></i>
                                Opciones<span class="caret"></span></a><br>
                        </li>
                        <br>
                        <li class="dropdown-submenu mb-2 text-center">
                            <a class="test text-wrap px-3 pt-1 pb-1" tabindex="-1" th:href="@{/perfil/acceso}"><i
                                    class="fas fa-door-open"></i> Accesos por perfil<span class="caret"></span></a><br>
                        </li>
                        <br>
                        <li class="dropdown-submenu mb-2 text-center">
                            <a class="test text-wrap px-3 pt-1 pb-1" tabindex="-1" th:href="@{/perfil/usuario}"><i
                                    class="fas fa-user"></i> Usuarios<span class="caret"></span></a><br>
                        </li>
                    </ul>
               
                <!-- </div> -->
                <span></span>
                    <hr>
                </div>
                <!-- <div class="opciones"> -->
                <a class="dropdown-item mt-2 mb-3" href="#">
                    <i class="fas fa-gear mr-2"></i>
                    Configuración
                </a>
            
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt"></i>
                    Salir
                </a>
                <!-- </div> -->

            </div>
        </li>

    </ul>

</nav>