<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head-main">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" class="text-dark">

        <!-- Sidebar -->
        <div th:insert="fragments/menu::menu-lateral"></div>

        <!-- Contenido central -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="fragments/nav::navbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="mb-4 mt-3 text-center black">Bolsa de Trabajo</h1>
                    
                    <div class="container">
                        <div th:if="${msg}" class="alert alert-success">
                            <h5 class="text-center" th:text="${msg}"></h5>
                        </div>
                        <div class="formulario">
                            <form th:action="@{/guardias/guardarPerExt}" th:object="${bolsaTrabajoGuardias}" id="bolsaTrabajoExt"
                                method="post">
                                <div class="card card-primary">
                                    <div class="card-header issste-v">
                                        <h4 class="card-title text-center text-white" th:text="${titulo}"></h4>
                                    </div>
                                    <div class="row px-5 pb-3 pt-2">

                                        <input type="hidden" th:field="*{id}">
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2 text-center black">
                                            <label>RFC:</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2" id="grupo__rfc">
                                            <input type="text" class="form-control" placeholder="Ingrese el RFC"
                                                id="rfc" name="rfc" th:field="*{rfc}" maxlength="13">
                                            <div class="alert alert-danger text-center"
                                                th:if="${#fields.hasErrors('rfc')}" th:errors="*{rfc}"></div>
                                        </div>

                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2 text-center black">
                                            <label>Nombre(s):</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2">
                                            <input type="text" class="form-control" placeholder="Ingrese el nombre"
                                                id="nombre" name="nombre" th:field="*{nombre}" required>
                                            <div class="alert alert-danger text-center"
                                                th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2 text-center black">
                                            <label>Apellido Paterno:</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2">
                                            <input type="text" class="form-control"
                                                placeholder="Ingrese el apellido paterno" id="apellidoPat"
                                                name="apellidoPat" th:field="*{apellidoPat}" required>
                                            <div class="alert alert-danger text-center"
                                                th:if="${#fields.hasErrors('apellidoPat')}" th:errors="*{apellidoPat}">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2 text-center black">
                                            <label>Apellido Materno:</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2">
                                            <input type="text" class="form-control"
                                                placeholder="Ingrese el apellido materno" id="apellidoMat"
                                                name="apellidoMat" th:field="*{apellidoMat}" required>
                                            <div class="alert alert-danger text-center"
                                                th:if="${#fields.hasErrors('apellidoMat')}" th:errors="*{apellidoMat}">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2 text-center black">
                                            <label>División geográfica:</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2">
                                            <select class="form-select" id="id_div_geografica" name="id_div_geografica"
                                                th:field="*{id_div_geografica}" aria-label="Default select example"
                                                style=" width:100%">
                                                <option value="0">Seleccione una opcion</option>
                                                <option th:each="del : ${delegaciones}" th:value="${del.divGeo}"
                                                    th:text="${del.nombre}"></option>
                                            </select>
                                            <div class="alert alert-danger text-center"
                                                th:if="${#fields.hasErrors('id_div_geografica')}"
                                                th:errors="*{id_div_geografica}"></div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2 text-center black">
                                            <label>Centro de trabajo:</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-6 col-md-6 mt-3 mb-2">
                                            <select class="form-select black" id="id_centro_trabajo"
                                                name="id_centro_trabajo" th:field="*{id_centro_trabajo}"
                                                aria-label="Default select example" style=" width:100%">
                                                <option value="0">Seleccione una opcion</option>
                                                <option th:each="adsc : ${adscripciones}" th:value="${adsc.clave}"
                                                    th:text="${adsc.clave + '-' + adsc.descripcion}" class="black">
                                                </option>
                                            </select>
                                            <div class="alert alert-danger text-center"
                                                th:if="${#fields.hasErrors('id_centro_trabajo')}"
                                                th:errors="*{id_centro_trabajo}"></div>
                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 text-center mt-5 mb-3">
                                            <!-- <button type="submit" id="btnAgregarBolsaTrab" class="btn btn-block issste text-white">Guardar registro</button> -->
                                            <input type="submit" id="btnAgregarBolsaTrab"
                                                class="btn btn-block issste text-white" value="Guardar registro">
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-12">
                                <div class="row mt-2 mb-3">
                                    <!-- <div class="col-md-12 d-flex justify-content-end">
                                        <a class="btn btn-success" th:href="@{/guardias/RegPersonalExt(format=xlsx)}" target="_blank">Excel</a>&nbsp&nbsp      
                                        <a class="btn btn-danger" th:href="@{/guardias/RegPersonalExt (format=pdf)}"  target="_blank">PDF</a>                           
                                    </div> -->
                                </div>
                                <div class="table table-responsive-sm">
                                    <table class="table" id="tbl_bolsaTrabajo" style="width: 100%;">
                                        <thead class="issste-v text-white text-center">
                                            <tr>
                                                <th class="text-center">Acciones</th>
                                                <th><i class="fas fa-tasks"></i></th>
                                                <th>RFC</th>
                                                <th>Nombre(s)</th>
                                                <th>Apellido paterno</th>
                                                <th>Apellido materno</th>
                                                <th>Div. geográfica</th>
                                                <th>Centro de trabajo</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl_body_table" class="text-center black">
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Toast -->
                    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 5%; top: 45px;">
                        <div id="liveToast" class="toast toast-warning hide" role="alert" aria-live="assertive"
                            aria-atomic="true" data-delay="2000">
                            <div class="toast-header bg-warning text-white">
                                <strong class="mr-auto">Validacion de campos</strong>
                            </div>
                            <div class="toast-body bg-warning text-white">

                            </div>
                        </div>
                    </div>
                    <!-- Fin toast -->
                </div>

            </div>
            <!-- Fin del contenido -->
            <!-- Modal -->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro de querer eliminar este
                                registro?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Si selecciona Logout saldra del sistema</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-danger" th:href="@{/logout}">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal fin -->
            <!-- Footer -->
            <div th:insert="fragments/footer::pie-pagina"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:insert="fragments/boton-scroll::boton-scroll-up"></a>
    <!-- Logout Modal-->
    <div th:insert="fragments/modal :: msgSalir"></div>

    <div th:insert="fragments/scripts::scripts-js"></div>
    <!-- <script th:src="@{/js/guardia.js}"></script> -->
    <script th:src="@{/js/guardias/regBolsaTrabajo.js}"></script>
</body>

</html>