<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head-main">
</head>

<body id="page-top">

    <!-- Div que contienen todos los elementos de la página-->
    <div id="wrapper" class="text-dark">

        <!-- Sidebar -->
        <div th:insert="fragments/menu::menu-lateral"></div>
        <!-- End of Sidebar -->

        <!-- Contenido principal -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="fragments/nav::navbar"></div>

                <!-- Contenido editable por página -->
                <div class="container-fluid mt-3">
                    <h2 class="text-center black">Registro de guardias</h2>
                    <div class="row mt-3">
                        <!-- Columna 1 -->
                        <div class="col-md-12 col-sm-12 col-lg-4 mt-3">
                            <div class="card card-primary">
                                <div class="card-header issste-v">
                                    <h4 class="card-title text-center text-white">Criterios de consulta</h4>
                                </div>
                                <!-- Cards interna y externa -->
                                <div class="card text-center">
                                    <div class="card-header">
                                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="interno-tab" data-bs-toggle="tab"
                                                    data-bs-target="#interno" type="button" role="tab"
                                                    aria-controls="interno">Interno</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="externo-tab" data-bs-toggle="tab"
                                                    data-bs-target="#externo" type="button" role="tab"
                                                    aria-controls="externo">Externo</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-content card-body" id="myTabContent">
                                        <!-- Card interno -->
                                        <div id="interno" class="tab-pane fade show active" role="tabpanel"
                                            aria-labelledby="interno-tab">
                                            <div class="busqueda">
                                                <!-- <form action="" method="post"> -->
                                                    <div class="row">
                                                        <div class="col-md-3 col-lg-6 col-xl-3">
                                                            <label for="txtNumero"><strong>Empleado:</strong></label>
                                                        </div>
                                                        <div class="col-md-5 col-lg-6 col-xl-5 mb-2">
                                                            <input type="text" id="txtNumero"
                                                                name="numEmp"
                                                                class="form-control text-center"
                                                                placeholder="Introduce número" required>
                                                        </div>
                                                        <div class="col-md-4 col-xl-4 text-center">
                                                            <input type="submit" id="consultarEmpInt"
                                                                class="btn issste text-white" value="Consultar">
                                                        </div>
                                                    </div>
                                                <!-- </form> -->

                                            </div>
                                            <hr>
                                            <div class="informacion-int">
                                                <div class="row">
                                                    <div class="col-md-4 mb-3">
                                                        <label class="fw-bold"><strong>Nombre(s):</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-3">
                                                        <span id="nombresInt" class="nombre"></span>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label class="fw-bold"><strong>Apellidos:</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-3">
                                                        <span id="apellidosInt"class="nombre"></span>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label class="fw-bold"><strong>RFC:</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-3">
                                                        <span id="rfcInt" class="nombre"></span>
                                                    </div>
                                                    <div class="col-md-4 mb-2">
                                                        <label class="fw-bold"><strong>Adscripción:</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-2">
                                                        <span id="adscripcionInt" class="nombre"></span>
                                                    </div>
                                                    <div class="col-md-4 mb-2">
                                                        <label class="fw-bold"><strong>Servicio:</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-2">
                                                        <span id="servicioInt" class="nombre"></span>
                                                    </div>
                                                    <div class="col-md-4 mb-2">
                                                        <label class="fw-bold"><strong>Puesto:</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-2">
                                                        <span id="puestoInt" class="nombre"></span>
                                                    </div>
                                                    <!-- 
                                                    <div class="col-md-4 mb-2">
                                                        <label class="fw-bold"><strong>Horario:</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-2">
                                                        <span id="horarioInt" class="nombre"></span>
                                                    </div>
                                                    -->
                                                    <div class="col-md-4 mb-2">
                                                        <label class="fw-bold"><strong>Nivel:</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-2">
                                                        <span id="nivelInt" class="nombre"></span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label class="fw-bold"><strong>Tipo Jornada:</strong></label>
                                                    </div>
                                                    <div class="col-md-8 mb-2">
                                                        <span id="horasInt" class="nombre"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fin de interno -->

                                        <!-- Card Externo -->
                                        <div id="externo" class="tab-pane fade show" role="tabpanel"
                                            aria-labelledby="externo-tab">
                                            <div class="busqueda">
                                                <!-- <form action="" method="post"> -->
                                                    <div class="row">
                                                        <div class="col-md-3 col-lg-6 col-xl-3 col-sm-12">
                                                            <label for="txtRFC"><strong>RFC:</strong></label>
                                                        </div>
                                                        <div class="col-md-5 col-lg-6 col-xl-5 col-sm-12">
                                                            <input type="text" id="txtRFC"
                                                                name="rfcExt"
                                                                class="form-control text-center mb-2"
                                                                placeholder="Introducir RFC" required>
                                                        </div>
                                                        <div class="col-md-4 col-xl-4 col-sm-12">
                                                            <input type="submit" id="consultaRFCExt"
                                                                class="btn issste text-white" value="Consultar">
                                                        </div>
                                                    </div>
                                                <!-- </form> -->

                                            </div>
                                            <hr>
                                            <div class="informacion-ext">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Nombre:</label>
                                                    </div>
                                                    <div class="col-md-9 mb-3">
                                                        <span id="nombreExt"></span>
                                                    </div>
                                                </div>
                                                <hr>
                                                <!-- Formulario de externos -->
                                                <form action="" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-4 mb-3">
                                                            <label
                                                                id="adscripcionExt"><strong>Adscripción</strong></label>
                                                        </div>
                                                        <div class="col-lg-8 mb-3">
                                                            <select class="form-control" id="ddlAscripcion"
                                                                name="ascripcionExt"
                                                                aria-label="Default select example">
                                                                <option value="0" selected>Seleccione una opcion</option>
																<option th:each="adsc : ${adscripciones}" th:value="${adsc.clave + ';;;' + adsc.tipo + ';;;' + adsc.zona}" th:text="${adsc.clave + '-' + adsc.descripcion}"></option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-4 mb-3">
                                                            <label
                                                                id="puestoExterno"><strong>Puesto</strong></label>
                                                        </div>
                                                        <div class="col-lg-8 mb-3">
                                                            <select class="form-control" id="ddlPuesto"
                                                                name="puestoExt"
                                                                aria-label="Default select example">
                                                                <option value="0" selected>Seleccione una opcion</option>
                                                                <option th:each="puesto : ${puestos}" th:value="${puesto.clave + ';;;' + puesto.tipotabulador}" th:text="${puesto.clave + '-' + puesto.descripcion}"></option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-4 mb-3">
                                                            <label
                                                                id="servicioExterno"><strong>Servicio</strong></label>
                                                        </div>
                                                        <div class="col-lg-8 mb-3">
                                                            <select class="form-control" id="ddlServicio"
                                                                name="servicioExt"
                                                                aria-label="Default select example">
                                                                <option value="0" selected>Seleccione una opcion</option>
                                                                <option th:each="servicio : ${servicios}" th:value="${servicio.clave}" th:text="${servicio.clave + '-' + servicio.descripcion}"></option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-4 mb-3">
                                                            <label><strong>Nivel/Subnivel</strong></label>
                                                        </div>
                                                        <div class="col-lg-8 mb-3">
                                                            <select class="form-control" id="ddlNivel"
                                                                name="nivelExt"
                                                                aria-label="Default select example">
                                                                <option value="0" selected>Seleccione una opcion</option>
                                                                <option th:each="nivel : ${niveles}" th:value="${nivel.nivel+nivel.subnivel}" th:text="${nivel.nivel + '/' + nivel.subnivel}"></option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-4 mb-3">
                                                            <label id="tipoJornadaExt"><strong>Tipo
                                                                    de jornada</strong></label>
                                                        </div>
                                                        <div class="col-lg-8 mb-3">
                                                            <select class="form-control" id="ddlJornada"
                                                                name="jornadaExt"
                                                                aria-label="Default select example">
                                                                <option value="0" selected>Seleccione una opcion</option>
                                                                <option th:each="jornada : ${jornadas}" th:value="${jornada.clave}" th:text="${jornada.clave + '-' + jornada.descripcion}"></option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-12">
                                                            <button type="submit" id="btnValidaPuesto"
                                                                class="btn issste text-white">Validar puesto</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- Fin de externo -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Columna 2 -->
                        <div class="col-md-12 col-sm-12 col-lg-8 mt-3">
                            <div class="agregar">
                                <div class="card card-primary">
                                    <div class="card-header issste-v">
                                        <h4 class="card-title text-center text-white">Criterios de la guardia</h4>
                                    </div>

                                    <div class="card-body">
                                        <form action="" method="post">
                                            <div class="row mt-3">
                                                <!-- Folio -->
                                                <div class="col-md-6">
                                                    <label>Folio de
                                                        autorización:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" id="txtFolio"
                                                        name="folioAuth" class="form-control"
                                                        placeholder="Introducir Folio..." required>
                                                </div>
                                                <!-- Fecha de inicio y fin -->
                                                <div class="col-xl-2 col-sm-6 mt-3 mb-3">
                                                    <label>Fecha de inicio:</label>
                                                </div>
                                                <div class="col-xl-4 col-sm-6 mt-3 mb-3">
                                                    <input type="date" id="txtFechaInicio"
                                                        name="fechaInicio">
                                                </div>
                                                <div class="col-xl-2 col-sm-6 mt-3 mb-3">
                                                    <label>Fecha fin:</label>
                                                </div>
                                                <div class="col-xl-4 col-sm-6 mt-3 mb-3">
                                                    <input type="date" id="txtFechaFin"
                                                        name="fechaFin">
                                                </div>
                                                <!-- Movimiento -->
                                                <div class="col-md-6 mb-3">
                                                    <label>Movimiento:</label>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select class="form-control" id="ddlMovimiento"
                                                        name="movimiento"
                                                        aria-label="Default select example">
                                                        <option selected disabled>Seleccione una opcion</option>
                                                        <option value="06">NOCTURNA</option>
                                                        <option value="07">DOMINICAL Y SABATINA,11 HORAS Y 24 HORAS</option>
                                                        <option value="08">GUARDIAS PARA TRANSPORTES</option>
                                                        <option value="09">PERSONAL ADMINISTRATIVO</option>
                                                    </select>
                                                </div>
                                                <!-- Motivo -->
                                                <div class="col-md-6 mb-3">
                                                    <label>Motivo:</label>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select class="form-control" id="ddlMotivo"
                                                        name="motivo"
                                                        aria-label="Default select example">
                                                        <option selected disabled>Seleccione una opcion</option>
                                                        <option value="G1">G1 POR CONTINUIDAD EN EL SERVICIO</option>
                                                        <option value="G2">G2 CARACTERISTICAS DEL SERVICIO</option>
                                                    </select>
                                                </div>
                                                <!-- Riesgos profesionales -->
                                                <div class="col-md-6 mb-3">
                                                    <label>Riesgos
                                                        profesionales:</label>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select class="form-control" id="ddlRiesgos"
                                                        name="riesgosProf"
                                                        aria-label="Default select example">
                                                        <option selected disabled>Seleccione una opcion</option>
                                                        <option value="&">&</option>
                                                        <option value="*">*</option>
                                                    </select>
                                                </div>
                                                <!-- Dias/horas -->
                                                <div class="col-md-6 mb-3">
                                                    <label>Dias/Horas:</label>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input type="text" id="txtDias"
                                                        name="diasHoras" placeholder="Introduzca los dias/horas" class="form-control" required>
                                                </div>
                                                <!-- Comentarios -->
                                                <div class="col-md-6 mb-3">
                                                    <label>Comentarios:</label>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <textarea id="txtComentarios"
                                                        name="comentarios" rows="4" placeholder="Comentarios..." required></textarea>
                                                </div>
                                                <!-- Quincena -->
                                                <div class="col-md-6 mb-3">
                                                    <label>Quincena:</label>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <select class="form-control" id="ddlQuincena"
                                                        name="quincena"
                                                        aria-label="Default select example">
                                                        <option selected disabled>Seleccione una opcion</option>
                                                        <option th:each="paga : ${pagas}" th:value="${paga.fecha}" th:text="${paga.fecha + '-' + paga.descripcion}"></option>
                                                        <option value="31/03/2022">QUINCENA 06 DEL 2022</option>
                                                    </select>
                                                </div>
                                                <!-- Boton de agregar guardia -->
                                                <div class="col-md-12">
                                                    <button type="submit" id="btnAgregarGuardia"
                                                        class="btn issste text-white btn-block" disabled>Agregar Guardia</button>
                                                </div>
                                            </div>
                                            <input type="hidden" id="hdnTipoCT"/>
                                            <input type="hidden" id="hdnTabulador"/>
                                            <input type="hidden" id="hdnZona"/>
                                            <input type="hidden" id="hdnUserName" th:value="${userName}"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>

                    <!-- Tabla de historial de guardias -->
                    <div class="row mt-3 mb-5">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="text-center black mb-3">Historial de guardias</h2>
                            <div class="row mt-2 mb-3">
                                <div class="col-md-12  d-flex justify-content-end">
                                    <a class="btn btn-success" th:href="@{/guardias/registro (format=xlsx)}" target="_blank">Excel</a>&nbsp&nbsp      
                                    <a class="btn btn-danger" th:href="@{/guardias/registro (format=pdf)}"  target="_blank">PDF</a>                           
                                </div>
                            </div>
                            <div class="table table-responsive-sm">
                                <table class="table" id="tbl_guardias" style="width: 100%;">
                                    <thead class="issste-v text-white text-center">
                                        <tr>
                                        	<th></th>
                                        	<th></th>
                                            <th>Empleado</th>
                                            <th>Puesto</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Pago</th>
                                            <th>Horas</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl_body_table" class="text-center">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <!-- El id del modal no se puede modificar -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Modificar guardia</h5>
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-window-close"></i>
                                    </button>
                                </div>
                                <form action="">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6 mb-3">
                                                <label><strong>Folio de autorización</strong></label>
                                            </div>
                                            <div class="col-sm-12 col-md-6 mb-3">
                                                <input type="text" class="form-control" id="txtFolioModal"
                                                    name="folioModal" required>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <strong>Movimiento</strong>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <!-- Select -->
                                                <select class="form-select"
                                                    name="movimientoModal"
                                                    id="ddlMovimientoModal" aria-label="Default select example">
                                                    <option value="0" selected>Seleccione una opcion</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <strong>Motivo</strong>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <!-- Select -->
                                                <select class="form-select"
                                                    name="motivoModal" id="ddlMotivoModal"
                                                    aria-label="Default select example">
                                                    <option value="0" selected>Seleccione una opcion</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <strong>Riesgos profesionales</strong>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <!-- Select -->
                                                <select class="form-select"
                                                    name="riesgosModal"
                                                    id="ddlRiesgosModal" aria-label="Default select example">
                                                    <option value="0" selected>Seleccione una opcion</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <strong>Dias/Horas</strong>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control"
                                                    name="diasModal" id="txtDiasModal" required>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <strong>Comentarios</strong>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control"
                                                    name="comentariosModal"
                                                    id="txtComentariosModal" required>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" id="btnActualizar"
                                            class="btn issste text-white">Actualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Fin del modal -->

                    <!-- Toast error-->
                    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 5%; top: 45px;">
                        <div id="liveToast" class="toast toast-error hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="500">
                          <div class="toast-header bg-danger text-white">
                            <!-- <img src="..." class="rounded mr-2" alt="..."> -->
                            <strong class="mr-auto">Validacion de guardia</strong>
                            <!-- <small>Ahora</small> -->
                            <!-- <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button> -->
                          </div>
                          <div class="toast-body bg-danger text-white">
                            Las caracteristicas del puesto no están autorizadas
                          </div>
                        </div>
                      </div>
                    <!-- Fin Toast Error-->
                    <!-- Toast validación correcta-->
                    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 5%; top: 45px;">
                        <div id="liveToast" class="toast toast-success hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="500">
                          <div class="toast-header bg-success text-white">
                            <!-- <img src="..." class="rounded mr-2" alt="..."> -->
                            <strong class="mr-auto">Validacion de guardia</strong>
                            <!-- <small>Ahora</small> -->
                            <!-- <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button> -->
                          </div>
                          <div class="toast-body bg-success text-white">
                            Las caracteristicas del puesto están autorizadas. Validación correcta
                          </div>
                        </div>
                      </div>
                    <!-- Fin Toast validacion correcta-->
                     <!-- Toast validación por campos-->
                     <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 5%; top: 45px;">
                        <div id="liveToast" class="toast toast-warning hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                          <div class="toast-header bg-warning text-white">
                            <!-- <img src="..." class="rounded mr-2" alt="..."> -->
                            <strong class="mr-auto">Validacion de campos</strong>
                            <!-- <small>Ahora</small> -->
                            <!-- <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button> -->
                          </div>
                          <div class="toast-body bg-warning text-white">
                            Favor de seleccionar todas las carácteristicas
                          </div>
                        </div>
                      </div>
                    <!-- Fin Toast validacion por campos-->

                </div>
                <!-- Fin del contenido editable por página -->
            </div>

            <!-- Footer -->
            <div th:insert="fragments/footer::pie-pagina"></div>

        </div>
        <!--Fin del div que contiene todos los elementos de la pagina -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:insert="fragments/boton-scroll::boton-scroll-up"></a>

    <!-- Logout Modal-->
    <div th:insert="fragments/modal :: msgSalir"></div>

    <!-- Scripts -->
    <div th:insert="fragments/scripts::scripts-js"></div>
    <!-- Script para animacion de cambio de tarjeta -->
    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
	<!-- <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script> -->
	<script th:src="@{/js/guardia.js}"></script>
</body>

</html>