
.black{
    color: black !important;
}

.collapse-item:hover{
    color: black !important;
}

textarea{
    width: 100%;
    border-radius: 5px;
}

select{
    width: 100%;
}

/* Ancho de menu */
.navbar-nav{
    height: 100%;
}

ul li a{
    color:  #a72c4d;
}

/* Menu desplegable */



ul:hover > li  {
    display:block !important;
}

ul .test{
    margin-left: 0px;
}

.dropdown-menu .test{
    text-decoration: none;
    color: black;
    padding-left: 0% !important;
    padding-right: 17%;

}


/* .submenu:hover > .dropdown-submenu a{
    background-color: rgb(235, 239, 242);
    list-style-type: none;
    text-decoration: none;
} */

.test:hover{
    background-color: dimgray;
    color: white;
    border-radius: 5px;
    width: 100%;

}

/* Submenu de perfil */
.sub{
    list-style-type: none;
    overflow: hidden;
    display: none;
    float: center;
}

.sub li{
    float: left;
}

/* .dropdown-menu:hover > .sub{
    display: block;
} */

.perfil:hover > .sub{
    display: inline-block;
    visibility: visible;

}



