<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head-main">
</head>

<body id="page-top">

    <!-- Div que contienen todos los elementos de la página-->
    <div id="wrapper" class="text-dark">

        <!-- Sidebar -->
        <div th:insert="fragments/menu::menu-lateral"></div>
        <!-- End of Sidebar -->

        <!-- Contenido principal -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="fragments/nav::navbar"></div>

                <div class="container-fluid mt-4">
                    <h1 class="text-center black">Fechas de captura</h1>
                    <div class="row mt-5">
                        
                        <div class="col-md-12 mt-2 mb-3">
                            <h4 class="black">Progreso:</h4>
                            <div class="conteo-progreso" th:each="prog : ${porcentaje}">
                                <span th:text="${prog.conteo}"></span>
                                <!-- <span th:value="${prog.conteo}">prueba</span> -->
                                <span th:text="${prog.validado}"></span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <select class="form-control" id="fechas_paga" name="fechas_paga" aria-label="Default select example">
                                <option value="0" selected>Seleccione una fecha</option>
                                <option th:each="fecha : ${fechas}"
                                    th:value="${fecha.fec_paga}"
                                    th:text="${fecha.fechas}"></option>
                            </select>
                        </div>
                        <div class="col-md-3">
                                <input type="submit" id="btnBuscarFasesFecha" class="btn btn-success" value="Buscar">
                        </div>
                   
                        
                        <div class="col-md-12 mt-5">
                            <div class="table-responsive text-center">
                                <table class="table table-striped">
                                    <thead class="black">
                                        <tr>
                                            <th>Fecha pago</th>
                                            <th>Actividad</th>
                                            <th>Fecha inicio</th>
                                            <th>Fecha fin</th>
                                            <th>Validado</th>
                                            <th>Actualizar</th>
                                        </tr>
                                    </thead>
                                    <tbody class="black">
                                        <form action="" method="post">
                                        <tr th:each="fase : ${fases}">
                                            <td th:text="${#dates.format(fase.fec_Pago, 'dd-MMM-yyyy')}"></td>
                                            <td th:text="${fase.actividad}"></td>
                                            <td th:text="${fase.fec_Ini}"></td>
                                            <td th:text="${fase.fec_Fin}"></td>
                                            <td>
                                                <div th:switch="${fase.validado}" class="form-check">
                                                    <div th:case="false">
                                                        <span class="badge badge-danger text-wrap">No Validado</span>
                                                    </div>
                                                    <div th:case="true">
                                                        <span class="badge badge-success text-wrap">Validado</span>
                                                    </div>

                                                </div>
                                            </td>
                                            <td th:text="${fase.validado}"></td>
                                            <td><div class="btn-toolbar" id="editar" role="toolbar"><a th:href="@{/nomina/actValidacion/{fec_pago} (fec_pago=${fase.fec_Pago}) }" class="btn btn-warning"><i class="fa fa-edit"></i></a></td>
                                        </tr>
                                    </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Footer -->
                <div th:insert="fragments/footer::pie-pagina"></div>

            </div>
            <!--Fin del div que contiene todos los elementos de la pagina -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:insert="fragments/boton-scroll::boton-scroll-up"></a>

        <!-- Logout Modal-->
        <div th:insert="fragments/modal :: msgSalir"></div>

        <!-- Scripts -->
        <div th:insert="fragments/scripts::scripts-js"></div>
        <!-- Script para animacion de cambio de tarjeta -->
        <script th:src="@{/js/bootstrap.js}"></script>
        <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
        <script th:src="@{/js/nomina.js}"></script>
 
</body>

</html>