<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head-main">
</head>

<body id="page-top">

    <!-- Div que contienen todos los elementos de la página-->
    <div id="wrapper" class="text-dark">

        <!-- Sidebar -->
        <div th:insert="fragments/menu::menu-lateral"></div>
        <!-- End of Sidebar -->

        <!-- Contenido principal -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="fragments/nav::navbar"></div>

                <div class="container-fluid mt-5">
                    <h2 class="black text-center mb-5">Fechas de captura</h2>

                    <div id="progress-bar"  class="row mt-2 mb-3">
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control" id="fechas_paga" name="fechas_paga" aria-label="Default select example">
                                <option value="0" selected>Seleccione una fecha</option>
                                <option th:each="fecha : ${fechas}"
                                    th:value="${fecha.fec_paga}"
                                    th:text="${fecha.fechas}"></option>
                            </select>
                        </div>
                        <div class="col-md-1">
                                <input type="submit" id="btnBuscarFasesFecha" class="btn btn-success" value="Buscar">
                        </div>
                        <div class="col-md-3">
                            <a href="/nomina/registroNomina" class="btn btn-primary">Registrar una nueva fase</a>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-sm-12">
                            <div class="table table-responsive-sm">
                                <table class="table" id="tbl_nomina" style="width: 100%;">
                                    <thead class="issste-v text-white text-center">
                                        <tr>
                                            <!-- <th class="text-center">Acciones</th>
                                            <th><i class="fas fa-tasks"></i></th> -->
                                            <th>Fecha de pago</th>
                                            <th>Actividad</th>
                                            <th>Fecha de inicio</th>
                                            <th>Fecha fin</th>
                                            <th>Validado</th>
                                            <th>Actualizar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl_body_nomina" class="text-center black">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                </div>

                <!-- Toast -->
                <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 5%; top: 45px;">
                    <div id="liveToast" class="toast toast-warning hide" role="alert" aria-live="assertive"
                        aria-atomic="true" data-delay="2000">
                        <div class="toast-header bg-warning text-white">
                            <strong class="mr-auto">Información</strong>
                        </div>
                        <div class="toast-body bg-warning text-white">

                        </div>
                    </div>
                </div>
                <!-- Fin toast -->
                
                <!-- Footer -->
                <div th:insert="fragments/footer::pie-pagina"></div>

            </div>
            <!--Fin del div que contiene todos los elementos de la pagina -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:insert="fragments/boton-scroll::boton-scroll-up"></a>

        <!-- Logout Modal-->
        <div th:insert="fragments/modal :: msgSalir"></div>

        <!-- Scripts -->
        <div th:insert="fragments/scripts::scripts-js"></div>
        <!-- Script para animacion de cambio de tarjeta -->
        
        <script th:src="@{/js/nomina.js}"></script>
</body>

</html>