<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head-main">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" class="main text-dark">

        <!-- Sidebar (agregarlo de manera dinamica)-->
        <div th:insert="fragments/menu::menu-lateral"></div>
        <!-- End of Sidebar -->

        <!-- Contenido Central -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="fragments/nav::navbar"></div>
                <!-- End of Topbar -->

                <!-- Contenido principal de la pagina -->
                <div class="container-fluid">

                    <!-- Formulario -->
                    <div class="container mt-5">
                        <div class="card card-primary">
                            <div class="card-header issste-v">
                                <h4 class="card-title text-center text-white">Acceso por Perfil</h4>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="row mt-3 mb-5">
                                        <div class="col-md-3 text-center">
                                            <label>Perfil:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-select" id="perfil" name="perfil"
                                                aria-label="Default select example">
                                                <option value="sel" disabled="disabled">Seleccione una opcion</option>
                                                <option value="0">ROOT</option>
                                                <option value="1">Administrador guardias</option>
                                                <option value="2">Administrador suplencias</option>
                                                <option value="3">Presupuesto</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-3 col-sm-12 text-center">
                                            <label>Opciones:</label>
                                        </div>
                                        <div class="col-md-7 col-sm-12">
                                            <select class="form-select" id="opcion" name="opcion" multiple="multiple"
                                                aria-label="Default select example" required>
                                                <!-- <option value="0" disabled="disabled">Seleccione una opcion</option> -->
                                                <option value="1">Registro de personal externo</option>
                                                <option value="2">Registro de guardias</option>
                                                <option value="3">Reporte de personal externo</option>
                                                <option value="4">Reporte de guardias interna</option>
                                                <option value="5">Reporte de guardias externa</option>
                                                <option value="6">Registro de bolsa de trabajo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 text-center">
                                            <button type="submit"
                                                class="btn btn-block issste text-white">Guardar</button>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <hr>
                        <!-- Opciones elegidas a modificar -->
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 text-center mt-3 mb-3">
                                <label>Guardias</label><br>
                                <input type="submit" class="btn btn-warning" name="mod_guardias" id="mod_guardias"
                                    value="Modificar">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-3 align-content-center text-center">
                                <div class="card border-primary mb-3" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <span class="black">Registro de personal externo</span><br>
                                        <span class="black">Registro de guardias</span><br>
                                        <span class="black">Reporte de personal externo</span><br>
                                        <span class="black">Reporte de guardias interna</span><br>
                                        <span class="black">Reporte de guardias externa</span><br>
                                        <span class="black">Registro de bolsa de trabajo</span><br>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="col-sm-12 col-md-6 col-lg-3 col-lg-6 text-center mt-3 mb-3">
                                <label>Suplencias</label><br>
                                <input type="submit" class="btn btn-warning" name="mod_suplencias" id="mod_suplencias"
                                    value="Modificar">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-3 align-content-center text-center">
                                <div class="card border-primary mb-3" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <span class="black">Registro Personal externo</span><br>
                                        <span class="black">Registro Suplencias</span><br>
                                        <span class="black">Reporte de personal externo</span><br>
                                        <span class="black">Reporte de suplencias internas</span><br>
                                        <span class="black">Reporte de suplencias externas</span><br>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-sm-12 col-md-6 col-md-3 col-lg-3 col-lg-6 text-center mt-3 mb-3">
                                <label>Presupuesto</label><br>
                                <input type="submit" class="btn btn-warning" name="mod_presupuesto" id="mod_presupuesto"
                                    value="Modificar">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-3 align-content-center text-center">
                                <div class="card border-primary mb-3" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <span class="black">Control presupuestal guardias y suplencias</span><br>
                                        <span class="black">Reporte de personal externo</span><br>
                                        <span class="black">Reporte de guardias internas</span><br>
                                        <span class="black">Reporte de guardias externas</span><br>
                                        <span class="black">Reporte Presupuesto</span><br>
                                        <span class="black">Reporte de suplencias internas</span><br>
                                        <span class="black">Reporte de suplencias externas</span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin  para modificar -->
                        <!-- Opcion 2 -->
                <!--        <div class="container">
                            <div class="table-responsive">

                                <table class="table">
                                    <thead class="issste-v text-white text-center">
                                        <th>Perfil</th>
                                        <th>Opciones</th>
                                    </thead>
                                    <tbody class="text-center black">
                                        <tr>
                                            <td>
                                                Guardias
                                                <p><input class="btn btn-warning mt-2" type="text" value="Modificar"></p>
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <thead class="issste-v text-white text-center">
                                                        <th>Opciones</th>
                                                    </thead>
                                                    <tbody class="text-center black">
                                                        <tr>
                                                            <td>Opcion 1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Opcion 2</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Suplencias
                                                <p><input class="btn btn-warning mt-2" type="text" value="Modificar"></p>
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <thead class="issste-v text-white text-center">
                                                        <th>Opciones</th>
                                                    </thead>
                                                    <tbody class="text-center black">
                                                        <tr>
                                                            <td>Opcion 1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Opcion 2</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Presupuesto
                                                <p><input class="btn btn-warning mt-2" type="text" value="Modificar"></p>
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <thead class="issste-v text-white text-center">
                                                        <th>Opciones</th>
                                                    </thead>
                                                    <tbody class="text-center black">
                                                        <tr>
                                                            <td>Opcion 1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Opcion 2</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->
                        <!-- Fin de opcion 2 -->

                    </div>
                    <!-- Fin del formulario -->
                </div>


            </div>
            <!-- Fin del contenido -->

            <!-- Footer -->
            <div th:insert="fragments/footer::pie-pagina"></div>
        </div>

    </div>

    <!-- Scroll to Top Button-->
    <a th:insert="fragments/boton-scroll::boton-scroll-up"></a>
    <!--Modal Salir-->
    <div th:insert="fragments/modal :: msgSalir"></div>

    <div th:insert="fragments/scripts::scripts-js"></div>
    <script>
        $(document).ready(function () {
            $('#opcion').select2({
                placeholder: 'Selecciona las opciones que requieras',
                multiple: true,
                tags: false,
                allowClear: true,
                closeOnSelect: false,
                debug: true,
                // matcher: matchCustom,

                width: '100%'
            });

            // $('#opcion').on('change', function() {
            //     var data = $("#opcion option:selected").text();
            //     console.log(JSON.stringify(data));
            // })

            // $('#opcion').on("select2:select", function (e) {
            //     console.log("ID seleccionado: " + e.params.data.text);
            // });
            function matchCustom(params, data) {
                // If there are no search terms, return all of the data
                if ($.trim(params.term) === '') {
                    return data;
                }

                // Do not display the item if there is no 'text' property
                if (typeof data.text === 'undefined') {
                    return null;
                }

                // `params.term` should be the term that is used for searching
                // `data.text` is the text that is displayed for the data object
                if (data.text.indexOf(params.term) > -1) {
                    var modifiedData = $.extend({}, data, true);
                    modifiedData.text += ' (matched)';

                    // You can return modified objects from here
                    // This includes matching the `children` how you want in nested data sets
                    return modifiedData;
                }

                // Return `null` if the term should not be displayed
                return null;
            }
        });
    </script>
</body>

</html>