<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head-main">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" class="main text-dark">

        <!-- Sidebar (agregarlo de manera dinamica)-->
        <div th:insert="fragments/menu::menu-lateral"></div>
        <!-- End of Sidebar -->


        <!-- Contenido Central -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="fragments/nav::navbar"></div>
                <!-- End of Topbar -->

                <!-- Contenido principal de la pagina -->
                <div class="container-fluid">
                    <!-- Titulo-->
                    <h1 class="mb-4 mt-3 text-center black">Acceso por Perfil</h1>

                    <!-- Formulario -->
                    <div class="container mt-5">

                        <form method="post">
                           
                            <div class="form-row pb-5">
                                <div class="form-group col-md-12">
                                    <label>Opción:</label>
                                    <input type="number" min="1" class="form-control" id="opcion" name="opcion"
                                        placeholder="Ingrese una opción">
                        
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-center">
                                    <button type="submit" class="btn btn-block issste text-white">Enviar</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div> 

                        </form>

                    </div>
                    <!-- Fin del formulario -->
                </div>


            </div>
            <!-- Fin del contenido -->

            <!-- Footer -->
            <div th:insert="fragments/footer::pie-pagina"></div>
        </div>

    </div>

  <!-- Scroll to Top Button-->
  <a th:insert="fragments/boton-scroll::boton-scroll-up"></a>
    <!--Modal Salir-->
    <div th:insert="fragments/modal :: msgSalir"></div>

    <div th:insert="fragments/scripts::scripts-js"></div>
</body>

</html>