<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head-main">
</head>

<body id="page-top">

    <!-- Div que contienen todos los elementos de la página-->
    <div id="wrapper" class="text-dark">

        <!-- Sidebar -->
        <div th:insert="fragments/menu::menu-lateral"></div>
        <!-- End of Sidebar -->

        <!-- Contenido principal -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:insert="fragments/nav::navbar"></div>

                <!-- Contenido editable por página -->
                <div class="container-fluid mt-4">
                    <h1 class="text-center black">Resumen de la quincena</h1>
                    
                <div class="row mt-4">
                    <div class="col-md-3">
                        <select class="form-control" id="quincena" name="quincena" aria-label="Default select example">
                            <option value="0" selected>Seleccione la quincena</option>
                            <option th:each="quincena : ${qnas}" 
                                th:value="${quincena.Qna}" 
                                th:text="${quincena.Qna}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn issste text-white" id="btnBuscarQnaTimbrado">Buscar</button>
                    </div>
                </div>
                    <!-- Fin del contenido editable por página -->
                    <div class="row mt-5">
                        <div class="col-sm-12">
                            <div class="table table-responsive-sm">
                                <table class="table" id="tbl_timbrado" style="width: 100%;">
                                    <thead class="issste-v text-white text-center">
                                        <tr>
                                            <!-- <th class="text-center">Acciones</th>
                                            <th><i class="fas fa-tasks"></i></th> -->
                                            <th>Fecha de pago</th>
                                            <th>Registros META4</th>
                                            <th>ISR META4</th>
                                            <th>Layout recibidos</th>
                                            <th>Recibos no reportados</th>
                                            <th>Registros timbrados</th>
                                            <th>ISR timbrado</th>
                                            <th>Registros No timbrados</th>
                                            <th>ISR No timbrado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl_body_timbrado" class="text-center black">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div th:insert="fragments/footer::pie-pagina"></div>

            </div>
            <!--Fin del div que contiene todos los elementos de la pagina -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:insert="fragments/boton-scroll::boton-scroll-up"></a>

        <!-- Logout Modal-->
        <div th:insert="fragments/modal :: msgSalir"></div>

        <!-- Scripts -->
        <div th:insert="fragments/scripts::scripts-js"></div>
        <!-- Script para animacion de cambio de tarjeta -->
        <!-- <script th:src="@{/js/bootstrap.js}"></script>
        <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script> -->
        <script th:src="@{/js/timbrado/timbrado.js}"></script>
</body>

</html>